.copy {
    width: 68px;
    height: 49px;
    background: #3AB38F;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    transition: 0.5s;
    border: 2px solid #07533c;
}

.copy:hover {
    background-color: #047b58;
    cursor: pointer;
}

.copy:active {
    background-color: #000000;
}