.length {
    width: 41px;
    height: 25px;
    margin: 40px 0 40px 113px;
    font-size: 20px;
    background-color: #6cd7b9;
    color: white;
}

input[type=checkbox] {
    cursor: pointer;
}

@media (max-width: 768px) {
    .length {
        margin: 10px 0;
    }
}